{% extends "layout.html" %}
{% block content %}
    <div class = 'container'>
<h1 class = 'mb-4'>Report of Findings</h1>
<p> <BIG>

This is a summary of the performance of our models compared to the state-of-the-art results from published work. The model is trained as multilabel classification algorithm on the public NIH dataset. For more info about this dataset, please consult Wang et al. (2016).

</BIG></p>
<div class="table">
<table>
<thead>
<tr>
<th>Categories</th>
<th>Yao et al.(2017)</th>
<th>Rajpurkar el al. (2017)</th>
<th style="text-align: left">Our Model (DenseNet)</th>
<th style="text-align: left">Our Model (InceptionV3)</th>
</tr>
</thead>

<tbody>
<tr>
<td>Atelectasis</td>
<td>0.772</td>
<td>0.809</td>
<td style="text-align: left">0.805</td>
<td style="text-align: left">0.815</td>
</tr>
<tr>
<td>Cardiomegaly</td>
<td>0.904</td>
<td>0.925</td>
<td style="text-align: left">0.906</td>
<td style="text-align: left">0.878</td>
</tr>
<tr>
<td>Effusion</td>
<td>0.859</td>
<td>0.864</td>
<td style="text-align: left">0.883</td>
<td style="text-align: left">0.892</td>
</tr>
<tr>
<td>Infiltrate</td>
<td>0.695</td>
<td>0.735</td>
<td style="text-align: left">0.703</td>
<td style="text-align: left">0.731</td>
</tr>
<tr>
<td>Mass</td>
<td>0.792</td>
<td>0.868</td>
<td style="text-align: left">0.840</td>
<td style="text-align: left">0.848</td>
</tr>
<tr>
<td>Nodule</td>
<td>0.717</td>
<td>0.780</td>
<td style="text-align: left">0.754</td>
<td style="text-align: left">0.731</td>
</tr>
<tr>
<td>Pneumonia</td>
<td>0.713</td>
<td>0.768</td>
<td style="text-align: left">0.763</td>
<td style="text-align: left">0.785</td>
</tr>
<tr>
<td>Pneumothorax</td>
<td>0.841</td>
<td>0.888</td>
<td style="text-align: left">0.866</td>
<td style="text-align: left">0.903</td>
</tr>
<tr>
<td>Consolidation</td>
<td>0.788</td>
<td>0.790</td>
<td style="text-align: left">0.799</td>
<td style="text-align: left">0.729</td>
</tr>
<tr>
<td>Edema</td>
<td>0.882</td>
<td>0.887</td>
<td style="text-align: left">0.888</td>
<td style="text-align: left">0.893</td>
</tr>
<tr>
<td>Emphysema</td>
<td>0.829</td>
<td>0.937</td>
<td style="text-align: left">0.902</td>
<td style="text-align: left">0.934</td>
</tr>
<tr>
<td>Fibrosis</td>
<td>0.767</td>
<td>0.804</td>
<td style="text-align: left">0.817</td>
<td style="text-align: left">0.749</td>
</tr>
<tr>
<td>Pleural Thickening</td>
<td>0.765</td>
<td>0.806</td>
<td style="text-align: left">0.767</td>
<td style="text-align: left">0.784</td>
</tr>
<tr>
<td>Hernia</td>
<td>0.914</td>
<td>0.916</td>
<td style="text-align: left">0.905</td>
<td style="text-align: left">0.802</td>
</tr>
</tbody>
</table>

</div>
    </div>
{% endblock content %}
